.header {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 5px solid #f4f4f4;
    /* 로그인 박스처럼 box-shadow 강조 */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s, background-color 0.3s;
}

.header:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2), 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
}


.left {
    flex: 1;
}

.center {
    flex: 1;
    text-align: center;
}

.logo {
    height: 70px;
    max-height: 70px;
    object-fit: contain;
}

.nav {
    display: flex;
    justify-content: right;
    gap: 1.5rem;
}

.nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav a:hover {
    color: #ffd700;
}
